body
{
	font-size: 20px;
	font-family: Helvetica;
}
p
{
	font-size: 20px;
}
h1
{
	color: #540C76;
}
ul
{
	font-size: 20px;
	
}
h2
{
	color: #540C76;
}
#kaka
{
	text-align: left;
	font-size: 40px;
	font-family: Helvetica;

}